<!-- hero section -->
<section id="hero">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 hero-tagline my-auto">
        <h1>UNESA satu langkah didepan. #kampus merdeka</h1>
        <p>
          <span class="fw-bold">UNESA</span> adalah sebuah Perguruan Tinggi
          Negeri yang terletak di Surabaya, Jawa Timur, Indonesia. UNESA
          didirikan pada 19 Desember 1964. UNESA memiliki 7 fakultas.
        </p>
        <a href="/profiles" class="button-primary p-3 rounded"
          >PROFIL MAHASISWA</a
        >
        <a href="/profiles"><img src="img/Arrow.png" alt="" /></a>
      </div>
    </div>
    <img
      src="img/Hero.png"
      alt="hero"
      class="position-absolute end-0 bottom-0 img-hero"
    />
  </div>
</section>

<!-- Berita section  -->
<section id="berita">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2>BERITA KAMPUS</h2>
        <span class="sub-title">Aktual,Tajam,Terpercaya</span>
      </div>
    </div>
    <div class="row d-flex justify-content-evenly">
      <div class="col-md-3 mx-1 mb-3">
        <div class="card card-berita shadow-sm">
          <img src="img/berita1.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mx-1 mb-3">
        <div class="card card-berita shadow-sm">
          <img src="img/berita2.jpg" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-3 mx-1 mb-3">
        <div class="card card-berita shadow-sm">
          <img src="img/berita3.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="penelitian">
  <div class="container">
    <div class="row mb-5">
      <div class="col-12 text-center">
        <h2>PENELITIAN</h2>
        <span class="sub-title">Oleh profesor-profesor UNESA</span>
      </div>
    </div>
  </div>
</section>
